*{margin: 0px;
box-sizing: border-box;}
.parent-div{
}
.org-logo,.scanner-img-div{
    display: flex;
    justify-content: center;
}
/* .scanner-img-div>img{
    max-width: 85%;
} */
.org-logo{
     padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    background: #dddd;
}
.org-logo>img{
    width: 240px;
}
.select-city{
    display: flex;
    justify-content: center;
}

.ccc{
    border: 1px solid #ddd;
    box-shadow: 2px 7px 15px #ddd;
    margin-top: 4%;
    padding: 3% 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    }
.select-box{
    border: 1px solid #ddd;
    padding: 4px 0px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1%;
    width: 80%;

}
.check-in{
    MARGIN-TOP: 5%;
    text-align: center;
    font-weight: 600;
}
.office-add{
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 35%;
    font-weight: 600;
}
.content-div{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .office-add{}
    .check-in{
        margin-left: 0px;
        margin-right: 0px;
    }
    .office-add{
        font-size: 11px;
        margin-right: 0px !important;
    }
    .select-box{
        margin-top: 2%;
    }
    .org-logo>img{
        max-width: 100%  !important;
    }
    .content-div{
        margin-left: 20px;
        margin-right: 20px;
    }
  }
  